USE [DGBBS]
GO
/****** Object:  Table [dbo].[Bina]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bina](
	[BinaID] [int] IDENTITY(1,1) NOT NULL,
	[Il] [nvarchar](50) NOT NULL,
	[Ilce] [nvarchar](50) NOT NULL,
	[Mahalle] [nvarchar](50) NULL,
	[Sokak] [nvarchar](50) NULL,
	[BinaNumarasi] [nvarchar](20) NULL,
	[BinaAdi] [nvarchar](100) NULL,
	[KatSayisi] [int] NULL,
	[SonTestTarihi] [datetime] NULL,
	[SonTestDurumu] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gonullu]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gonullu](
	[GonulluID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Universite] [nvarchar](100) NOT NULL,
	[OgrenciNo] [nvarchar](20) NOT NULL,
	[Sinif] [nvarchar](10) NOT NULL,
	[Uzmanlik] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GonulluID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KentselDonusum]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KentselDonusum](
	[DonusumID] [int] IDENTITY(1,1) NOT NULL,
	[BinaID] [int] NOT NULL,
	[KullanimAmaci] [nvarchar](100) NOT NULL,
	[HasarGecmisi] [nvarchar](200) NULL,
	[SonucID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonusumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[TC] [nvarchar](11) NOT NULL,
	[Telefon] [nvarchar](20) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Sehir] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurum]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurum](
	[KurumID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[KurumAdi] [nvarchar](150) NOT NULL,
	[VergiNo] [nvarchar](20) NULL,
	[Il] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[MetrekareFiyati] [decimal](18, 2) NOT NULL,
	[Adres] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[KurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogKaydi]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogKaydi](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[IslemTuru] [varchar](20) NULL,
	[TabloAdi] [varchar](50) NULL,
	[KayitID] [int] NULL,
	[Aciklama] [varchar](255) NULL,
	[IslemTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskAnalizi]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskAnalizi](
	[RiskID] [int] IDENTITY(1,1) NOT NULL,
	[SonucID] [int] NOT NULL,
	[KatSayisi] [int] NULL,
	[YapiTuru] [nvarchar](50) NULL,
	[ZeminYapisi] [nvarchar](50) NULL,
	[BinaTuru] [nvarchar](50) NULL,
	[YapimYili] [int] NULL,
	[DepremBolgesi] [int] NULL,
	[MalzemeKalitesi] [int] NULL,
	[BinaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RiskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSonucu]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSonucu](
	[SonucID] [int] IDENTITY(1,1) NOT NULL,
	[TalepID] [int] NOT NULL,
	[TestTarihi] [datetime] NOT NULL,
	[Sonuc] [nvarchar](30) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[RiskPuani] [int] NULL,
	[DonusumPuani] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SonucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTalebi]    Script Date: 15.01.2026 19:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTalebi](
	[TalepID] [int] IDENTITY(1,1) NOT NULL,
	[BinaID] [int] NOT NULL,
	[TalepEdenKullaniciID] [int] NOT NULL,
	[TalepTarihi] [datetime] NOT NULL,
	[Durum] [nvarchar](30) NOT NULL,
	[AtananTip] [nvarchar](20) NULL,
	[AtananID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TalepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bina] ON 

INSERT [dbo].[Bina] ([BinaID], [Il], [Ilce], [Mahalle], [Sokak], [BinaNumarasi], [BinaAdi], [KatSayisi], [SonTestTarihi], [SonTestDurumu]) VALUES (1, N'İstanbul', N'Kadıköy', N'Moda', N'Rıhtım Sokak', N'12', N'Moda Apartmanı', 6, CAST(N'2023-05-10T00:00:00.000' AS DateTime), N'Güvenli')
INSERT [dbo].[Bina] ([BinaID], [Il], [Ilce], [Mahalle], [Sokak], [BinaNumarasi], [BinaAdi], [KatSayisi], [SonTestTarihi], [SonTestDurumu]) VALUES (2, N'İstanbul', N'Üsküdar', N'Salacak', N'Yelken Sokak', N'3', N'Salacak Evleri', 5, NULL, N'Bekliyor')
INSERT [dbo].[Bina] ([BinaID], [Il], [Ilce], [Mahalle], [Sokak], [BinaNumarasi], [BinaAdi], [KatSayisi], [SonTestTarihi], [SonTestDurumu]) VALUES (3, N'İstanbul', N'Beşiktaş', N'Levent', N'Çınar Sokak', N'22', N'Levent Rezidans', 10, CAST(N'2022-11-03T00:00:00.000' AS DateTime), N'Riskli')
SET IDENTITY_INSERT [dbo].[Bina] OFF
GO
SET IDENTITY_INSERT [dbo].[Gonullu] ON 

INSERT [dbo].[Gonullu] ([GonulluID], [KullaniciID], [Universite], [OgrenciNo], [Sinif], [Uzmanlik]) VALUES (1, 13, N'Sinop Üniversitesi', N'202305678', N'3', N'İnşaat Mühendisliği')
INSERT [dbo].[Gonullu] ([GonulluID], [KullaniciID], [Universite], [OgrenciNo], [Sinif], [Uzmanlik]) VALUES (2, 14, N'Adana Üniversitesi', N'202204455', N'3', N'Harita Mühendisliği')
INSERT [dbo].[Gonullu] ([GonulluID], [KullaniciID], [Universite], [OgrenciNo], [Sinif], [Uzmanlik]) VALUES (3, 15, N'Hacıbektaşi veli Üniversitesi', N'202304112', N'4', N'İnşaat Mühendisliği')
SET IDENTITY_INSERT [dbo].[Gonullu] OFF
GO
SET IDENTITY_INSERT [dbo].[KentselDonusum] ON 

INSERT [dbo].[KentselDonusum] ([DonusumID], [BinaID], [KullanimAmaci], [HasarGecmisi], [SonucID]) VALUES (1, 21, N'Konut', N'2 depremde orta seviye hasar oluşmuştur', 5)
INSERT [dbo].[KentselDonusum] ([DonusumID], [BinaID], [KullanimAmaci], [HasarGecmisi], [SonucID]) VALUES (2, 22, N'Konut', N'önceki 3 depremde orta hasar almış', 6)
SET IDENTITY_INSERT [dbo].[KentselDonusum] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [TC], [Telefon], [Eposta], [Sifre], [Rol], [Sehir]) VALUES (1, N'Eylül', N'Eroğlu', N'20954555982', N'5433930039', N'eylul@mail.com', N'3903', N'Bireysel', N'Nevşehir')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [TC], [Telefon], [Eposta], [Sifre], [Rol], [Sehir]) VALUES (2, N'Murat', N'Torunoğlu', N'11223344556', N'5422843903', N'murator@mail.com', N'2505', N'Bireysel', N'Nevşehir')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [TC], [Telefon], [Eposta], [Sifre], [Rol], [Sehir]) VALUES (3, N'onur', N'acıkgoz', N'99887755221', N'5424543903', N'onuracık@mail.com', N'4565', N'Bireysel', N'Nevşehir')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Kurum] ON 

INSERT [dbo].[Kurum] ([KurumID], [KullaniciID], [KurumAdi], [VergiNo], [Il], [Ilce], [MetrekareFiyati], [Adres]) VALUES (1, 23, N'İstanbul Yapı Denetim', N'1234567890', N'İstanbul', N'kadıköy', CAST(95.50 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Kurum] ([KurumID], [KullaniciID], [KurumAdi], [VergiNo], [Il], [Ilce], [MetrekareFiyati], [Adres]) VALUES (2, 24, N'Marmara Mühendislik', N'9876543210', N'İstanbul', N'beykoz', CAST(110.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Kurum] ([KurumID], [KullaniciID], [KurumAdi], [VergiNo], [Il], [Ilce], [MetrekareFiyati], [Adres]) VALUES (3, 25, N'Güven Proje Analiz', N'4455667788', N'İstanbul', N'şile', CAST(120.75 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Kurum] OFF
GO
SET IDENTITY_INSERT [dbo].[LogKaydi] ON 

INSERT [dbo].[LogKaydi] ([LogID], [KullaniciID], [IslemTuru], [TabloAdi], [KayitID], [Aciklama], [IslemTarihi]) VALUES (1, 43, N'INSERT', N'Kullanici', 43, N'Yeni kullanıcı kaydı oluşturuldu', CAST(N'2025-12-16T17:36:27.100' AS DateTime))
INSERT [dbo].[LogKaydi] ([LogID], [KullaniciID], [IslemTuru], [TabloAdi], [KayitID], [Aciklama], [IslemTarihi]) VALUES (2, 43, N'INSERT', N'Bina', 24, N'Yeni bina kaydı oluşturuldu', CAST(N'2025-12-16T17:37:42.053' AS DateTime))
INSERT [dbo].[LogKaydi] ([LogID], [KullaniciID], [IslemTuru], [TabloAdi], [KayitID], [Aciklama], [IslemTarihi]) VALUES (3, 43, N'INSERT', N'TestTalebi', 24, N'Test talebi oluşturuldu', CAST(N'2025-12-16T17:38:01.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogKaydi] OFF
GO
SET IDENTITY_INSERT [dbo].[RiskAnalizi] ON 

INSERT [dbo].[RiskAnalizi] ([RiskID], [SonucID], [KatSayisi], [YapiTuru], [ZeminYapisi], [BinaTuru], [YapimYili], [DepremBolgesi], [MalzemeKalitesi], [BinaID]) VALUES (1, 1, 5, N'Betonarme', N'Kaya', N'Apartman', 2018, 3, 85, 7)
INSERT [dbo].[RiskAnalizi] ([RiskID], [SonucID], [KatSayisi], [YapiTuru], [ZeminYapisi], [BinaTuru], [YapimYili], [DepremBolgesi], [MalzemeKalitesi], [BinaID]) VALUES (2, 2, 7, N'Yığma', N'Alüvyon', N'Eski Apartman', 1975, 1, 45, 14)
INSERT [dbo].[RiskAnalizi] ([RiskID], [SonucID], [KatSayisi], [YapiTuru], [ZeminYapisi], [BinaTuru], [YapimYili], [DepremBolgesi], [MalzemeKalitesi], [BinaID]) VALUES (3, 3, 4, N'Kerpiç', N'Alüvyon', N'Müstakil', 1982, 2, 40, 16)
SET IDENTITY_INSERT [dbo].[RiskAnalizi] OFF
GO
SET IDENTITY_INSERT [dbo].[TestSonucu] ON 

INSERT [dbo].[TestSonucu] ([SonucID], [TalepID], [TestTarihi], [Sonuc], [Aciklama], [RiskPuani], [DonusumPuani]) VALUES (1, 30, CAST(N'2023-09-15T00:00:00.000' AS DateTime), N'Güvenli', N'Yapısal sorun gözlemlenmedi. Rutin bakım önerilir.', 15, NULL)
INSERT [dbo].[TestSonucu] ([SonucID], [TalepID], [TestTarihi], [Sonuc], [Aciklama], [RiskPuani], [DonusumPuani]) VALUES (2, 31, CAST(N'2023-08-25T00:00:00.000' AS DateTime), N'Riskli', N'Kolonlarda çatlaklar tespit edildi. Acil rapor çıkarılmalı.', 78, NULL)
INSERT [dbo].[TestSonucu] ([SonucID], [TalepID], [TestTarihi], [Sonuc], [Aciklama], [RiskPuani], [DonusumPuani]) VALUES (3, 32, CAST(N'2023-08-10T00:00:00.000' AS DateTime), N'Riskli', N'Temel su izolasyonu zayıf. Zemin etkisi yüksek risk taşıyor.', 65, NULL)
SET IDENTITY_INSERT [dbo].[TestSonucu] OFF
GO
SET IDENTITY_INSERT [dbo].[TestTalebi] ON 

INSERT [dbo].[TestTalebi] ([TalepID], [BinaID], [TalepEdenKullaniciID], [TalepTarihi], [Durum], [AtananTip], [AtananID]) VALUES (17, 1, 1, CAST(N'2024-02-01T00:00:00.000' AS DateTime), N'Bekliyor', NULL, NULL)
INSERT [dbo].[TestTalebi] ([TalepID], [BinaID], [TalepEdenKullaniciID], [TalepTarihi], [Durum], [AtananTip], [AtananID]) VALUES (18, 3, 4, CAST(N'2024-01-18T00:00:00.000' AS DateTime), N'Bekliyor', NULL, NULL)
INSERT [dbo].[TestTalebi] ([TalepID], [BinaID], [TalepEdenKullaniciID], [TalepTarihi], [Durum], [AtananTip], [AtananID]) VALUES (19, 4, 7, CAST(N'2024-01-15T00:00:00.000' AS DateTime), N'Bekliyor', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TestTalebi] OFF
GO
/****** Object:  Index [UQ__Gonullu__E011F09ADDCC161F]    Script Date: 15.01.2026 19:49:17 ******/
ALTER TABLE [dbo].[Gonullu] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Gonullu_Kullanici]    Script Date: 15.01.2026 19:49:17 ******/
ALTER TABLE [dbo].[Gonullu] ADD  CONSTRAINT [UQ_Gonullu_Kullanici] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanici_TC]    Script Date: 15.01.2026 19:49:17 ******/
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [UQ_Kullanici_TC] UNIQUE NONCLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Kurum_Kullanici]    Script Date: 15.01.2026 19:49:17 ******/
ALTER TABLE [dbo].[Kurum] ADD  CONSTRAINT [UQ_Kurum_Kullanici] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanici] ADD  DEFAULT ('BIREYSEL') FOR [Rol]
GO
ALTER TABLE [dbo].[LogKaydi] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[TestSonucu] ADD  DEFAULT (getdate()) FOR [TestTarihi]
GO
ALTER TABLE [dbo].[TestTalebi] ADD  DEFAULT (getdate()) FOR [TalepTarihi]
GO
ALTER TABLE [dbo].[Gonullu]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Gonullu]  WITH CHECK ADD  CONSTRAINT [FK_Gonullu_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Gonullu] CHECK CONSTRAINT [FK_Gonullu_Kullanici]
GO
ALTER TABLE [dbo].[KentselDonusum]  WITH CHECK ADD  CONSTRAINT [FK_KentselDonusum_Bina] FOREIGN KEY([BinaID])
REFERENCES [dbo].[Bina] ([BinaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KentselDonusum] CHECK CONSTRAINT [FK_KentselDonusum_Bina]
GO
ALTER TABLE [dbo].[KentselDonusum]  WITH CHECK ADD  CONSTRAINT [FK_KentselDonusum_Sonuc] FOREIGN KEY([SonucID])
REFERENCES [dbo].[TestSonucu] ([SonucID])
GO
ALTER TABLE [dbo].[KentselDonusum] CHECK CONSTRAINT [FK_KentselDonusum_Sonuc]
GO
ALTER TABLE [dbo].[Kurum]  WITH CHECK ADD  CONSTRAINT [FK_Kurum_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kurum] CHECK CONSTRAINT [FK_Kurum_Kullanici]
GO
ALTER TABLE [dbo].[RiskAnalizi]  WITH CHECK ADD  CONSTRAINT [FK_RiskAnalizi_TestSonucu] FOREIGN KEY([SonucID])
REFERENCES [dbo].[TestSonucu] ([SonucID])
GO
ALTER TABLE [dbo].[RiskAnalizi] CHECK CONSTRAINT [FK_RiskAnalizi_TestSonucu]
GO
ALTER TABLE [dbo].[TestSonucu]  WITH CHECK ADD  CONSTRAINT [FK_TestSonucu_Talep] FOREIGN KEY([TalepID])
REFERENCES [dbo].[TestTalebi] ([TalepID])
GO
ALTER TABLE [dbo].[TestSonucu] CHECK CONSTRAINT [FK_TestSonucu_Talep]
GO
ALTER TABLE [dbo].[TestTalebi]  WITH CHECK ADD  CONSTRAINT [FK_TestTalebi_Bina] FOREIGN KEY([BinaID])
REFERENCES [dbo].[Bina] ([BinaID])
GO
ALTER TABLE [dbo].[TestTalebi] CHECK CONSTRAINT [FK_TestTalebi_Bina]
GO
ALTER TABLE [dbo].[TestTalebi]  WITH CHECK ADD  CONSTRAINT [FK_TestTalebi_TalepEden] FOREIGN KEY([TalepEdenKullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[TestTalebi] CHECK CONSTRAINT [FK_TestTalebi_TalepEden]
GO
